<mat-grid-list class="gridWrapper" cols="6" rowHeight="60px">
  <mat-grid-tile [colspan]="6">
    <h1>Units-Converter Demo</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6">
    <mat-form-field>
      <mat-label>Select conversion type</mat-label>
      <mat-select (selectionChange)="onSelectionChangeType()" [(value)]="selectedType">
        <mat-option *ngFor="let function of functions" [value]="function">{{function}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select (selectionChange)="onSelectionChangeFrom()" [disabled]="!selectedType" [(value)]="fromUnit">
        <mat-option *ngFor="let unit of units" [value]="unit.unit">{{unit.singular}} ({{unit.unit}})</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-form-field class="example-full-width">
      <input type="number" (keyup)="onSelectionChangeTo($event)" [disabled]="!selectedType" matInput [placeholder]="'Value'"
             [value]="fromValue">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select (selectionChange)="onSelectionChangeTo()" [disabled]="!selectedType" [(value)]="toUnit">
        <mat-option *ngFor="let unit of units" [value]="unit.unit">{{unit.singular}} ({{unit.unit}})</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <mat-form-field class="example-full-width">
      <input type="number" (keyup)="onSelectionChangeFrom($event)" [disabled]="!selectedType" matInput
             [placeholder]="'Value'"
             [(value)]="toValue">
    </mat-form-field>
  </mat-grid-tile>

</mat-grid-list>
